<?xml version="1.0" ?>
<launch>
    <!-- Robot model arguments.  -->
    <arg name="robots_yaml" default="[]"/>
    <arg name="rosbridge_port" default="9090"/>

    <include ns="/websocket" file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="keyfile" value="$(find rasberry_coordination)/config/certs/rasberry.key"/>
        <arg name="certfile" value="$(find rasberry_coordination)/config/certs/rasberry.crt"/>
        <arg name="port" value="$(arg rosbridge_port)"/>
        <arg name="ssl" value="false"/>
    </include>

    <!--node pkg="tf" type="static_transform_publisher" name="odom_to_world" args="0 0 0 0 0 0 odom world 10"/-->
</launch>


